.App {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  color: white;
}

body {
  max-width: 1500px;
  margin: auto;
}

.header {
  background-color: #2d3142;
  padding: 10px;
  display: grid;
  grid-template-columns: 580px auto 580px;
}

.header__link {
  text-decoration: none;
  color: white;
}

.header__text {
  margin: auto;
}

.header__element {
  display: inline;
  list-style: none;
}

.header__dataOptions {
  padding: 0;
}

.header__sortOptions {
  padding: 0;
}

.header__dataOptions__element {
  padding: 20px;
  display: inline;
}

.header__sortOptions__element--status-inactive {
  padding: 20px;
  display: inline;
}

.header__sortOptions__element--status-active {
  padding: 20px;
  display: inline;
  color: #ffb600;
}

.chart__header {
  background-color: #2d3142;
  display: grid;
  grid-template-columns: 650px 65px 650px;
  grid-template-areas: 'one two three';
  justify-content: center;
}

/* .chart__header__previous {
  grid-area: one;
} */

.chart__header__current {
  grid-area: three;
}

.chart__header__button--status-enabled {
  margin-bottom: 10px;
  background-color: white;
  border: none;
  color: #2d3142;
  padding: 10px 20px;
  border-radius: 3px;
  width: fit-content;

  grid-area: two;
}

.chart__header__button--status-disabled {
  margin-bottom: 10px;
  background-color: #ffb600;
  border: none;
  color: #2d3142;
  padding: 10px 20px;
  border-radius: 3px;
  width: fit-content;
  opacity: 0.4;
  cursor: not-allowed;

  grid-area: two;
}

.chart__header__button--status-enabled:hover {
  background-color: #ffb600;
  color: white;
}

.chart__display {
  width: auto;
  height: 600px;
  background-color: rgb(255, 255, 255);
}

.bar {
  width: 10px;
  height: 100%;
  display: inline-block;
  margin: 1px;
  margin-top: 0;
}

.bar--status-inactive {
  background-color: #b23a48;
  width: auto;
}

.bar--status-active {
  background-color: #ffb600;
  width: auto;
}

.summaries__text {
  color: black;
  font-weight: bold;
}
