.App {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  color: white;
  height: auto;
}

.root {
  height: auto;
}

body {
  max-width: 1500px;
  height: 790px;
  margin: auto;
}

/* HEADER */

.header {
  background-color: #2d3142;
  padding: 10px;
  display: grid;
  grid-template-columns: 580px auto 580px;
}

.header__link {
  text-decoration: none;
  color: white;
}

.header__text {
  margin: auto;
}

.header__element {
  display: inline;
  list-style: none;
}

.header__dataOptions {
  padding: 0;
}

.header__sortOptions {
  padding: 0;
}

.header__dataOptions__element {
  padding: 20px;
  display: inline;
}

.header__sortOptions__element--status-inactive {
  padding: 20px;
  display: inline;
}

.header__sortOptions__element--status-active {
  padding: 20px;
  display: inline;
  color: #ffb600;
}

.chart__header {
  background-color: #2d3142;
  display: grid;
  grid-template-columns: 650px 65px 650px;
  grid-template-areas: 'one two three';
  justify-content: center;
}

/* .chart__header__previous {
  grid-area: one;
} */

.chart__header__current {
  grid-area: three;
}

.chart__header__button--status-enabled {
  margin-bottom: 10px;
  background-color: white;
  border: none;
  color: #2d3142;
  padding: 10px 20px;
  border-radius: 3px;
  width: fit-content;

  grid-area: two;
}

.chart__header__button--status-disabled {
  margin-bottom: 10px;
  background-color: #ffb600;
  border: none;
  color: #2d3142;
  padding: 10px 20px;
  border-radius: 3px;
  width: fit-content;
  opacity: 0.4;
  cursor: not-allowed;

  grid-area: two;
}

.chart__header__button--status-enabled:hover {
  background-color: #ffb600;
  color: white;
}

.chart__display {
  width: auto;
  height: 600px;
  background-color: rgb(255, 255, 255);
}

/* END HEADER */

/* CHART */

.bar {
  width: 10px;
  height: 100%;
  display: inline-block;
  margin: 1px;
  margin-top: 0;
}

.bar--status-inactive {
  background-color: #b23a48;
  width: auto;
}

.bar--status-active {
  background-color: #ffb600;
  width: auto;
}

/* END CHART */

/* SUMMARIES */

.summaries {
  width: 100%;
  height: 100%;
  color: black;
  display: grid;
  grid-template-areas:
    'a a a a'
    'b title graph c'
    'b subtitle graph c'
    'b body graph c'
    'b body heading c'
    'b body detail c'
    'd d d d';
  grid-template-columns: 0px 813px 513px 0px;
  grid-template-rows: 40px 80px 50px 325px 40px 100px 40px;
  column-gap: 40px;
  overflow: hidden;
}

.summaries__title {
  font-size: 50px;
  margin: 0;
  height: auto;
  grid-area: title;
  margin-right: auto;
}

.summaries__subtitle {
  grid-area: subtitle;
  margin-right: auto;
}

/* END SUMMARIES */
