.App {
  text-align: center;
}

h1 {
  margin: 0;
}

header {
  background-color: rgb(190, 190, 190);
}

.buttonClass {
  background-color: rgb(190, 190, 190);
}

.chart {
  width: auto;
  height: 600px;
  background-color: rgb(255, 255, 255);
}

.barParent {
  width: 10px;
  height: 100%;
  display: inline-block;
  margin: 1px;
  margin-top: 0;
}

.barChild {
  background-color: rgb(98, 77, 147);
  width: auto;
}

.column-active {
  background-color: rgb(169, 123, 86);
  width: auto;
}

button {
  margin-bottom: 10px;
}
